/* Responsividade */

@media only screen and (min-width: 320px){
    .noivas-img{
        width: 12rem;
        height: 12rem;
        top: -3rem;
    }

    #noivas-container-1{
        margin: 2rem 5rem 0 5rem;
    }

    #noivas-container-4{
        margin: 0.5rem 5rem 2rem 4rem;
        
    }

    #texto-1, #texto-2, #texto-3, #texto-4, #texto-5{
        font-size: 2.3em;
        position: relative;
        top: -3.2rem;
    }

    #veu{
        width: 22rem;
        height: 23rem;
        top: -5rem;
        left: 5rem;
    }

    #b1, #b2, #b3, #b4, #b5, #b01{
        margin-bottom: 5rem;
        margin-left: 11rem;
    }

    #gato{
        width: 23rem;
        height: 21rem;;
        position: relative;
        left: 5.5rem;
        top: -2.8rem;
    }

    #figurinha{
        width: 21rem;
        height: 21rem;
        top: -2.2rem;
    }

    #casal{
        width: 22rem;
        height: 22rem;
        border: solid 2px black;
        position: relative;
        left: 5.3rem;
        top: -2.2rem;
    }

    #b4{
        position: relative;
        bottom: 0.5rem;    
        margin-left: 10.5rem; 
    }

    #obrigado{
        width: 20rem;
        height: 20rem;
        border: 2px solid black;
        position: relative;
        left: 2.5rem;
        top: -2.8rem;
    }

    #texto-5{
        font-size: 2.8em;
        height: fit-content;
        position: relative;
        top: -1.3rem;
    }
    
    #pix{
        top: -2.5rem;
    }

    #number{
        top: -3.5rem;
        
    }

    #b5{
       position: relative;
       bottom: 1.5rem;
       margin-left: 6rem;

    }

}
